.container {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}
.resultados {
    padding: 2rem 0;
}
.tituloResultados {
    text-align: center;
    font-weight: 500;
    padding: 1.5rem 0;
    font-size: 1.2rem;
}
